html{
  background-color: #063977;
  color: #ECF9FF;
  align-content: center;
  height: auto;
}

*{
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
}

#root{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.top-content{
  display: flex;
  flex-direction: row;
  border: 1px solid #ECF9FF;
  border-radius: 8px;
  width: 500px;
  justify-content: space-between;
  padding: 24px;
}

.top-content-wrapper{
  display: flex;
  justify-content: center;
}

.game-title{
  margin-left: 8px;
  height: fit-content;
}

.game-title h1{
  margin: 0px;
}

.scoreboard{
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-right: 32px;
  height: fit-content;
}

.player-score{
  border: solid 1px black;
  padding: 0px 24px 24px 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 70px;
  text-align: center;
  background-color: #ECF9FF;
  color: #063977;
  font-weight: bold;
  border-radius: 8px;
}

.enemy-score{
  border: solid 1px black;
  padding: 0px 24px 24px 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 70px;
  text-align: center;
}

.choices{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.choices button{
  height: 100px;
  width: 200px;
  border-radius: 8px;
  border: 2px solid #09152B;
  cursor: pointer;
  margin-top: 64px;
}

.result{
  display: flex;
  justify-content: center;
}

.choice-showcase{
  display: flex;
  flex-direction: row;
  margin: 32px;
  justify-content: space-between;
}

.choice{
  padding: 32px;
}

.player-content{
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.round-btn{
  background-color: #00B0FC;
  color: #09152B;
}

.round-btn:hover{
  background-color: #0286DF;
}

.round-btn:active{
  background-color: #035CC2;
}

.main-content{
  padding: 32px;
}

.icon{
  margin-bottom: 12px;
}